.h1 {color: rgb(51,51,102); font-family: 'Noto Serif';font-size: 22px; }

p.indent{
    text-indent: 30px;
}

@font-face {
    font-family: Noto Serif;
    src: url("https://niamhren.github.io/islt_7310/Noto_Serif/NotoSerif-Regular.ttf");
}

/*about page*/
.style-body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    background-color: #667296;
    color: #0c343d;
}

.box {
    border-radius: 5px;
    padding: 20px;
    font-size: 12pt;
}
.a{
    grid-column: 1;
    grid-row: 1 / span 2;
}
.b{
    grid-column: 2;
}
.c{
    grid-column: 2;
    grid-row: 2;
}
.d{
    grid-column: 1 / span 3;
    grid-row: 3;
}

/* index */
.style-index {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    background-color: #8d9db6;
    color: #0c343d;
    padding-bottom: 20px;
}
.box {
    border-radius: 5px;
    padding: 20px;
    font-size: 12pt;
}

.e{
    grid-column: 1;
    grid-row: 1;
}

.f{
    grid-column: 2;
    grid-row: 1;
}

.g{
    grid-column: 1;
    grid-row: 2;
}

.h{
    grid-column: 2;
    grid-row: 2;
}

/*reflection*/
.style-reflection {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    background-color: #0c343d;
    color: #f1e3dd;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #f1e3dd;
    border-radius: 5px;
    border-color: #f1e3dd;
  }

  .box {
    border-radius: 5px;
    padding: 20px;
    font-size: 12pt;
}

.i{
    grid-column: 1;
    grid-row: 1;
}

.j{
    grid-column: 1;
    grid-row: 2;
}

/*reflection*/
.style-projects {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    background-color: #8d9db6;
    color: #0c343d;
}

.box {
    border-radius: 5px;
    padding: 20px;
    font-size: 12pt;
}

.k{
    grid-column: 1;
    grid-row: 1;
}

.l{
    grid-column: 1;
    grid-row: 2;
}

.m{
    grid-column: 1;
    grid-row: 3;
}

/*print stylesheet*/
@media print {
    *{
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    .main-nav,
    .sidebar,
    .comments,
    .main-footer,
    img {
        display: none
    }
    .main-header {
        margin-bottom: 0;
        border: none;
        text-align: center;
    }
    a[href^="http://"] ::after {
        content: " [" attr(href)"]";
        color: blue;
    }
    @page {
        margin: .5cm;
    }
    @page :first {
        margin-top: 2cm;
    }
    h2, ul {
        page-break-after: avoid;
    }
    p, ul {
        orphans: 3;
        widows: 3;
        font-size: 11pt;
    }
}

